@charset "UTF-8";

@font-face {
  font-family: "iconos-webs";
  src:url("fonts/iconos-webs.eot");
  src:url("fonts/iconos-webs.eot?#iefix") format("embedded-opentype"),
    url("fonts/iconos-webs.woff") format("woff"),
    url("fonts/iconos-webs.ttf") format("truetype"),
    url("fonts/iconos-webs.svg#iconos-webs") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "iconos-webs" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "iconos-webs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paypal-1:before {
  content: "\e043";
}
.icon-social-picasa:before {
  content: "\e044";
}
.icon-envelope:before {
  content: "\e193";
}
.icon-envelope-o:before {
  content: "\e194";
}
.icon-envelope-square:before {
  content: "\e195";
}
.icon-cubes:before {
  content: "\e1ff";
}
.icon-database-1:before {
  content: "\e200";
}
.icon-diamond:before {
  content: "\e201";
}
.icon-desktop:before {
  content: "\e202";
}
.icon-android:before {
  content: "\61";
}
.icon-amazon-1:before {
  content: "\62";
}
.icon-align-justify:before {
  content: "\64";
}
.icon-apple-1:before {
  content: "\65";
}
.icon-btc:before {
  content: "\66";
}
.icon-birthday-cake:before {
  content: "\67";
}
.icon-commenting:before {
  content: "\68";
}
.icon-comment-1:before {
  content: "\6b";
}
.icon-comment-o:before {
  content: "\e0f5";
}
.icon-commenting-o:before {
  content: "\e0f6";
}
.icon-comments:before {
  content: "\e0f7";
}
.icon-folder-open:before {
  content: "\e0f8";
}
.icon-folder:before {
  content: "\e0f9";
}
.icon-futbol-o:before {
  content: "\e0fa";
}
.icon-music:before {
  content: "\e0fb";
}
.icon-map-marker:before {
  content: "\e0fc";
}
.icon-map:before {
  content: "\e0fd";
}
.icon-pied-piper:before {
  content: "\e0fe";
}
.icon-pinterest-p:before {
  content: "\e0ff";
}
.icon-pinterest-square:before {
  content: "\e100";
}
.icon-opera:before {
  content: "\e101";
}
.icon-mouse-pointer:before {
  content: "\e102";
}
.icon-paint-brush:before {
  content: "\e103";
}
.icon-location-arrow:before {
  content: "\e104";
}
.icon-tablet:before {
  content: "\e105";
}
.icon-thumb-tack:before {
  content: "\e106";
}
.icon-thumbs-up:before {
  content: "\e107";
}
.icon-thumbs-o-up:before {
  content: "\e108";
}
.icon-thumbs-o-down:before {
  content: "\e109";
}
.icon-thumbs-down:before {
  content: "\e10a";
}
.icon-youtube-square:before {
  content: "\e10b";
}
.icon-youtube-play:before {
  content: "\e10c";
}
.icon-youtube-1:before {
  content: "\e10d";
}
.icon-wordpress-1:before {
  content: "\e10e";
}
.icon-windows-1:before {
  content: "\e10f";
}
.icon-wifi:before {
  content: "\e110";
}
.icon-video-camera:before {
  content: "\e111";
}
.icon-vimeo-square:before {
  content: "\e112";
}
.icon-vimeo-1:before {
  content: "\e113";
}
.icon-weixin:before {
  content: "\e114";
}
.icon-whatsapp:before {
  content: "\e115";
}
.icon-wheelchair:before {
  content: "\e116";
}
.icon-tumblr-square:before {
  content: "\e117";
}
.icon-tumblr-1:before {
  content: "\e118";
}
.icon-tint:before {
  content: "\e119";
}
.icon-steam-1:before {
  content: "\e11a";
}
.icon-subway:before {
  content: "\e11b";
}
.icon-tags:before {
  content: "\e11c";
}
.icon-tag-1:before {
  content: "\e11d";
}
.icon-location:before {
  content: "\63";
}
.icon-rss-1:before {
  content: "\e045";
}
.icon-sign-in:before {
  content: "\e046";
}
.icon-sign-out:before {
  content: "\e047";
}
.icon-twitter:before {
  content: "\e048";
}
.icon-printer-1:before {
  content: "\e049";
}
.icon-printer-2:before {
  content: "\e04a";
}
.icon-pin:before {
  content: "\e04b";
}
.icon-tag:before {
  content: "\e04c";
}
.icon-wordpress-alt:before {
  content: "\69";
}
.icon-wists:before {
  content: "\6a";
}
.icon-windows:before {
  content: "\6c";
}
.icon-youtube-alt:before {
  content: "\6d";
}
.icon-yahoo-buzz:before {
  content: "\6e";
}
.icon-yahoo:before {
  content: "\6f";
}
.icon-twitter-alt:before {
  content: "\70";
}
.icon-youtube:before {
  content: "\71";
}
.icon-whatsapp-1:before {
  content: "\72";
}
.icon-soundcloud:before {
  content: "\73";
}
.icon-skype:before {
  content: "\74";
}
.icon-quik:before {
  content: "\75";
}
.icon-qik:before {
  content: "\76";
}
.icon-paypal:before {
  content: "\77";
}
.icon-path:before {
  content: "\78";
}
.icon-playstation:before {
  content: "\79";
}
.icon-myspace-alt:before {
  content: "\7a";
}
.icon-msn-messenger:before {
  content: "\41";
}
.icon-linkedin-alt:before {
  content: "\42";
}
.icon-linkedin:before {
  content: "\43";
}
.icon-google-buzz:before {
  content: "\44";
}
.icon-hacker-news:before {
  content: "\45";
}
.icon-facebook:before {
  content: "\46";
}
.icon-facebook-alt:before {
  content: "\47";
}
.icon-blip:before {
  content: "\48";
}
.icon-bebo:before {
  content: "\49";
}
.icon-apple:before {
  content: "\4a";
}
.icon-arto:before {
  content: "\4b";
}
.icon-amazon:before {
  content: "\4c";
}
.icon-facebook-places:before {
  content: "\4d";
}
.icon-globe:before {
  content: "\4e";
}
.icon-compass:before {
  content: "\4f";
}
.icon-plane:before {
  content: "\50";
}
.icon-map-pin-streamline:before {
  content: "\51";
}
.icon-map-1:before {
  content: "\52";
}
.icon-flag:before {
  content: "\53";
}
.icon-location-1:before {
  content: "\54";
}
.icon-location-2:before {
  content: "\55";
}
.icon-bars:before {
  content: "\56";
}
.icon-caret-down:before {
  content: "\57";
}
.icon-caret-square-o-down:before {
  content: "\58";
}
.icon-chevron-circle-down:before {
  content: "\59";
}
.icon-sort-desc:before {
  content: "\5a";
}
.icon-list-thumbnails:before {
  content: "\30";
}
.icon-list-number:before {
  content: "\31";
}
.icon-list-bullet:before {
  content: "\32";
}
.icon-list:before {
  content: "\33";
}
.icon-list-1:before {
  content: "\34";
}
.icon-list-add:before {
  content: "\35";
}
.icon-menu:before {
  content: "\36";
}
.icon-twitch:before {
  content: "\37";
}
.icon-twitter-1:before {
  content: "\38";
}
.icon-twitter-square:before {
  content: "\39";
}
.icon-social-twitter:before {
  content: "\21";
}
.icon-twitter-circled:before {
  content: "\22";
}
.icon-twitter-2:before {
  content: "\23";
}
.icon-google-plus:before {
  content: "\24";
}
.icon-google:before {
  content: "\25";
}
.icon-google-plus-square:before {
  content: "\26";
}
.icon-google-wallet:before {
  content: "\27";
}
.icon-social-google-plus:before {
  content: "\28";
}
.icon-gplus:before {
  content: "\29";
}
.icon-gplus-circled:before {
  content: "\2a";
}
.icon-google-1:before {
  content: "\2b";
}
.icon-mail:before {
  content: "\2c";
}
.icon-mail-read:before {
  content: "\2d";
}
.icon-mail-1:before {
  content: "\2e";
}
.icon-mail-2:before {
  content: "\2f";
}
.icon-email:before {
  content: "\3b";
}
.icon-phone:before {
  content: "\3a";
}
.icon-phone-square:before {
  content: "\3c";
}
.icon-telephone:before {
  content: "\3d";
}
.icon-phone-1:before {
  content: "\3e";
}
.icon-vcard:before {
  content: "\3f";
}
.icon-credit-card:before {
  content: "\40";
}
.icon-basket:before {
  content: "\5b";
}
.icon-paypal-2:before {
  content: "\5d";
}
.icon-money:before {
  content: "\5e";
}
.icon-credit-card-1:before {
  content: "\5f";
}
.icon-paypal-3:before {
  content: "\60";
}
.icon-bitcoin-circle:before {
  content: "\7b";
}
.icon-bitcoin:before {
  content: "\7c";
}
.icon-shopping-cart:before {
  content: "\7d";
}
.icon-facebook-square:before {
  content: "\7e";
}
.icon-facebook-official:before {
  content: "\5c";
}
.icon-facebook-1:before {
  content: "\e000";
}
.icon-facebook-2:before {
  content: "\e001";
}
.icon-facebook-circled:before {
  content: "\e002";
}
.icon-facebook-squared:before {
  content: "\e003";
}
